/* 
  .nav-link{
    color: #314351;
    font-size: 20px;
    font-weight: bolder;

  }
  .nav-link:hover{
    color: #526e83;
  } */
  .nav-link {
    font-size: 20px;
    font-weight: bolder;
    padding: 8px 16px;
    color: #314351;
    text-decoration: none;
    position: relative;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #526e83;
  }
  
  /* Active link styling */
  .nav-link.active {
    color: #ffcb68;
    font-weight: 600;
  }
  
  /* Underline effect */
  .nav-link.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffcf76;
  }
  
  
/* Targeting outline buttons inside Navbar */
.navbar .btn-outline-dark {
  border-color: #314351;
  color: #314351;
  font-size: 1.2rem;
  font-weight: 500;  /* Increase the text size */
  border-width: 2px;  /* Increase the outline (border) size */
  padding: 0.3rem 0.7rem;  /* Increase padding for a better button size */
  transition: all 0.3s ease-in-out;  /* Smooth transition */
}

/* Hover effect for outline buttons */
.navbar .btn-outline-dark:hover {
  background-color: #314351;
  color: white;
  border-color: #314351;
  font-size: 1.3rem;  /* Increase text size on hover */
  border-width: 3px;  /* Increase the outline size on hover */
}